.basic-btn {
    background: #3B8598;
    color:white;
}

.form-container {
    background:white;
    padding:3.5em;
    width:500px;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}
/* You can add global styles to this file, and also import other style files */
body {
    background:red;
    padding-top:4em;
}

.form-container {
    background:white;
    padding:3.5em;
    width:500px;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

button {
    padding:1.2em;
    line-height:1;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
}

input.txt {
    background:#fff !important;
    padding:1.3em 1em;
    font-size:1.3em;
    border: 1px solid #BBBBBB;
    width: 100%;
    margin: 0 0 1rem;
    height: 2.4375rem;
}

h2 {
    margin: 1.7em 0 .9em 0;
}